server/.env
server/nftbuyber/.env
server/server/.env
server/server/libs/infrustructure/prisma/migrations
server/adminClient/.env
client/.env
client/.next
client/node_modules
client/out
client/build
client/coverage
client/dist
client/dist-ssr
client/logs
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
server/server/node_modules
server/server/dist
server/server/build
server/server/coverage
server/server/dist-ssr
server/server/logs
server/server/npm-debug.log*
server/server/yarn-debug.log*
server/server/yarn-error.log*
server/nftbuyber/node_modules
server/nftbuyber/dist
server/nftbuyber/build
server/nftbuyber/coverage
server/nftbuyber/dist-ssr
server/nftbuyber/logs
server/nftbuyber/npm-debug.log*
server/nftbuyber/yarn-debug.log*
server/nftbuyber/yarn-error.log*
server/adminClient/node_modules
server/adminClient/dist
server/adminClient/build
server/adminClient/coverage
server/adminClient/dist-ssr