.navbar {
    position: fixed;
    bottom:0;
    left:0;
    width: 100vw;
    height: 60px;
    background: #1b2041;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    z-index: 50;

    & a {
        width: 57px;
        height: 45px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
}