.deposit {
    padding: 16px 20px;

    & .header {
        font-weight: 600;
        font-size: 20px;
    }

    & .cards {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;

        & .card {
            width:80px;
            height: 80px;
            display:flex;
            justify-content:center;
            align-items: center;
            gap:10px;
            border-radius: 10px;
            font-weight: 500;
            font-size: 10px;
            background: #222541;
            flex-direction: column;
        }
    }

    & .inputContainer {
        position: relative;
        margin-top: 50px;

        & .inputImage {
            position: absolute;
            left:12px;
            top:50%;
            transform: translateY(-50%);
        }

        & .input {
            width: 100%;
            background: none;
            border: 1px solid #ffffff50;
            border-radius: 10px;
            padding-left: 34px;
            height: 40px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    & .buttons {
        display: flex;
        gap:10px;
        margin-top: 20px;

        & .button {
            font-size:15px;
            color:#59567D;
            background: #22223F;
            font-weight: 600;
            height: 40px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
        }
    }

    & .depositButton {
        margin-top: 24px;
        background: #5C46B5;
        color:#fff;
    }

    & .close {
        position: absolute;
        top:20px;
        right: 20px;
        background: #232642;
        padding: 7px;
        border-radius: 100%;
    }
}