.button {
    width: 100%;
    height: 44px;

    background: linear-gradient(90deg, var(--button-blue) -20%, var(--white) 40%);
    border-radius: 10px;
    color: var(--black);

    font-size: 12px;
    color: var(--primory);
    font-weight: 600;
    letter-spacing: 0%;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
}

.button:active {
    opacity: 0.6;
}