.tableItem {
    position: relative;
    background: linear-gradient(180deg, #21223E 0%, #130D30 100%);
    border-radius: 16px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 200px;
    background: var(--gifts-backgound);
    overflow: hidden;
}

.selected {
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.giftContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    min-height: 120px;
    z-index: 0;
    aspect-ratio: 1/1;
    border-radius: 16px;
    overflow: hidden;
    & img {
        position: relative;
        z-index: 1;
    }
}

.glowEffect {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.4;
    filter: blur(20px);
    z-index: 10;
    bottom: -45%;
}

.giftImage {
    position: relative;
    z-index: 1;
    object-fit: contain;
}

.giftImageBase {
    object-fit: none;
    width: 54%;
    height: 70%;
}

.bottomBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
    padding: 11.5px 14px
}

.members {
    display: flex;
    gap: -4px;
    align-items: center;
}

.memberAvatar {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0.5;
    
    &:first-child {
        margin-left: 0;
    }
}

.avatarImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.currencyButton {
    display: flex;
    align-items: center;
    gap: 3.5px;
    background: #4A90E2;
    border-radius: 20px;
    min-width: 36px;
    height: 17px;
    justify-content: center;

    & img {
        width: 8px;
        height: 8px;
    }
}

.price {
    font-size: 12px;
    font-weight: 600;
    color: white;
    letter-spacing: 0%;
}

