.lottieWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 16px;

    > div {
        width: 100% !important;
        height: 100% !important;
        transform: scale(1.2);
    }

    svg {
        width: 100% !important;
        height: 100% !important;
        object-fit: contain;
    }

    &.fillContainer {
        width: 100%;
        height: 100%;
        min-height: 0;
    }
}

.imageWrap {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 0;
}

.imageFill {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 0;
    font-size: inherit;

    &.fillContainer {
        width: 100%;
        height: 100%;
    }
}
