.lottieWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 0;

    > div {
        width: 100% !important;
        height: 100% !important;
    }

    svg {
        width: 100% !important;
        height: 100% !important;
        object-fit: contain;
    }
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: inherit;
}
